.container__contact {
  width: 100%;
  color: $color-primary;
  padding: 2rem;
  padding-bottom: 5rem;
  text-align: center;
  background: $color-bg;
  .text__red {
    color: $color-secondary;
    font-weight: bold;
    text-align: start;
    margin-left: 1rem;
  }
  .image {
    margin: 1rem;
  }
  .desktop {
    display: none;
  }
  .mobile{
    display: block;
  }
  .subtitle {
    margin: 0 1rem;
  }
  .hidden {
    font-size: 36px;
    font-weight: 700;
  }
  .content__decoration {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
    .decoration {
      height: 0.15rem;
      width: 30%;
      max-width: 10rem;
      background: $color-secondary;
      border-radius: 0.25rem;
    }
  }
  .mobile--social-first{
    margin: 4rem 0 2rem 0;
  }
  .mobile--social{
    display: flex;
    gap: 1rem;
    align-items: center;
    p{
      margin-block-end: 0;
    }
  }
  .container__contact--desktop {
    .content__contact--desktop {
      .parraph {
        width: 100%;
        max-width: 35rem;
        text-align: start;
        line-height: 1.5rem;
      }
      .container__whatsapp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3rem 2rem;
        .content__social {
          display: flex;
          align-items: center;
          p {
            font-weight: bold;
            text-decoration: underline;
            margin-block-start: 0;
            margin-block-end: 0;
          }
        }
      }
    }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .form__contact {
      width: 100%;
      max-width: 35rem;
      text-align: start;
      div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0.5rem 0;
        label {
          color: $color-secondary;
          font-weight: 500;
          margin-bottom: 0.25rem;
        }
        input {
          width: 100%;
          border: solid 0.075rem $color-white;
          padding: 0.5rem 1rem;
          border-radius: 1rem;
          color: $color-primary;
        }
        input::placeholder {
          color: $color-gray;
        }
        input:focus {
          outline: $color-secondary;
        }
      }
      button {
        width: 50%;
        background: $color-secondary;
        border: none;
        color: $color-white;
        border-radius: 0.5rem;
        padding: 0.5rem;
        margin-top: 2rem;
        font-weight: bold;
      }
    }
  }
}
.container__contact {
  @media screen and (min-width: $laptop) {
    .container__contact--desktop {
      flex-direction: row;
      margin: 4rem 0;
      height: 35rem;
      .content__contact--desktop {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        .section__contact--text-desktop {
          text-align: start;
          width: 80%;
          .text__red {
            color: $color-secondary;
            font-weight: bold;
          }
          .subtitle {
            margin-top: 0.5rem;
          }
          .content__decoration {
            justify-content: start;
            margin: 1.5rem 1.25rem;
            .decoration {
              height: 0.25rem;
              width: 25%;
              max-width: 10rem;
              background: $color-secondary;
              border-radius: 0.25rem;
            }
          }
        }
        .parraph {
          padding: 0 6rem;
          text-align: center;
        }
        .container__whatsapp {
          justify-content: start;
          margin: 0;

          gap: 0;
          margin-top: 3rem;
          .content__social {
            width: 100%;
          }
        }
        .content__contact--social {
          display: flex;
          justify-content: space-around;
          .contact__a {
            padding: 0 0.5rem;
          }
        }
      }
      .form__contact {
        padding: 0 4rem;
        .form__container--image {
          display: flex;
          justify-content: center;
          img {
            margin: 0 auto;
          }
        }
      }
    }
    .subtitle {
      display: none;
      font-weight: bold;
    }
    .hidden {
      display: block;
    }
    .image {
      display: none;
    }
    .desktop {
      display: inline;
      margin: 1rem;
    }
    .mobile{
      display: none;
    }
  }
}
