.section__service {
  // background: $color-bg-custom;
  color: $color-primary;
  overflow: hidden;
  margin-bottom: -6rem;
  .section__text {
    padding: 4rem 2rem;
    .hashtag {
      font-weight: 700;
      line-height: 1.5rem;
      color: $color-secondary;
    }
    .title {
      font-weight: 700;
      font-size: 2.25rem;
      line-height: 2.75rem;
      margin-bottom: 2rem;
      word-spacing: -0.2rem;
      margin-block-end: 0.5rem;
    }
    .parragraph {
      line-height: 1.5rem;
      text-align: left;
    }
    .section__lenguages {
      display: flex;
      flex-direction: column;
      width: 90%;
      .section__first,
      .section__second {
        display: flex;
        justify-content: space-between;
        margin: 0.5rem 0;
        user-select: none;
        .article__lenguage {
          display: flex;
          flex-direction: column;
          align-items: center;
          img {
            height: 4rem;
          }
          p {
            font-weight: bold;
            color: $color-primary;
          }
        }
      }
    }
    .desktop {
      display: none;
    }
  }
  .article__lenguage{
    .image__article__lenguage{
      width: 4rem;
      height: 4rem;
      object-fit: contain;
      margin: 0 1rem;
    }
    .parraph__article__lenguage{
      text-align: center;
    }
  }
  .mobile {
    display: block;
  }
  .section__lenguages {
      display: flex;
      flex-direction: column;
      width: 90%;
      .section__first,
      .section__second {
        display: flex;
        justify-content: space-between;
        margin: 0.5rem 0;
        user-select: none;
        .article__lenguage {
          display: flex;
          flex-direction: column;
          align-items: center;
          img {
            height: 4rem;
          }
          p {
            font-weight: bold;
            color: $color-primary;
          }
        }
      }
    }
  .section__lenguajes--mobile{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: -6rem auto 5rem auto;
  }
  .presentation-color {
    width: 90%;
    max-width: 30rem;
    margin: 0 auto;
    height: 200px;
    background: linear-gradient(180deg, #32324e 0%, #f40000 100%);
    filter: blur(75px);
  }
  .container__image {
    position: relative;
    height: 25rem;
    max-width: 30rem;
    margin: 0 auto;
    top: -10rem;
    .image {
      position: absolute;
    }
    .esfera1 {
      width: 15.438rem;
      filter: blur(1.5rem);
      left: calc(100% - 4rem);
    }
    .esfera2 {
      width: 5.4rem;
      filter: blur(0.25rem);
      bottom: 1rem;
      right: -2.5rem;
    }
    .esfera3 {
      width: 4rem;
      left: 3rem;
      top: 1.5rem;
    }
    .man {
      height: 24rem;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }
}

.section__service {
  @media screen and (min-width: $desktop) {
    .esfera3 {
      left: 15rem;
    }
  }
}

.section__service {
  @media screen and (min-width: $laptop) {
    display: flex;
    justify-content: space-between;
    .section__text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 2rem;
      padding: 4rem 0 0 8rem;
      width: 50%;
      .desktop {
        display: block;
      }
    }
    .mobile {
      display: none;
    }
    .container__design {
      position: relative;
      display: flex;
      align-items: center;
      width: 50%;
      height: 40rem;
      .presentation-color {
        position: absolute;
        width: 40%;
        top: 7rem;
        left: 17rem;
      }
      .container__image {
        width: 100%;
        max-width: 50rem;
        height: 100%;
        margin-top: 7rem;
        .man {
          top: 8rem;
          left: 2rem;
        }
        .esfera1 {
          top: 10rem;
          filter: blur(0.75rem);
          transform: rotate(70deg);
          left: calc(100% - 10rem);
        }
        .esfera2 {
          bottom: 8rem;
          width: 4rem;
          filter: blur(0.15rem);
          right: 6rem;
        }
        .esfera3 {
          width: 4rem;
          left: 10rem;
          top: 13rem;
        }
      }
    }
    .desktop {
      display: flex;
    }
  }
}
