.presentation-container {
  //   position: relative;
  background-color: $color-primary;
  height: 903px;
  overflow: hidden;
  .title-container {
    padding: 60px 15px 0 33px;

    .presentation-title {
      color: $color-white;
      font-weight: bolder;
      font-size: 48px;
      font-family: "Poppins";
      line-height: 136%;
      letter-spacing: -0.02em;
      margin-bottom: 80;

      .presentation-name {
        color: #f40000;
        font-weight: 1000;
      }
    }
  }
  .descripcion-container {
    padding: 35px 15px 0 33px;

    .descripcion-presentation {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: -0.01em;
      color: #ffffff;
    }
  }

  .button-container {
    padding: 38px 150px 0 33px;

    .button-contacto {
      width: 186px;
      height: 40px;
      border-radius: 8px;
      background-color: #f40000;
      border-style: none;
      font-family: "Axiforma";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      color: $color-bg;
    }
  }
  .presentation-color {
    width: 90%;
    height: 200px;
    background: linear-gradient(180deg, #32324e 0%, #f40000 100%);
    filter: blur(150px);
    z-index: -1;
  }
  .container-image {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;

    .presentation-image {
      position: absolute;
      z-index: 1;
      max-height: 30rem;
      object-fit: contain;
      width: 100%;
      /* padding: 40px 0px 1px 18px; */
      top: -112px;
      left: 20px;
    }

    .presentation-esfera {
      width: 35%;
      position: absolute;
      top: -152px;
    }
  }
}
