
.title-major{
    margin-top: 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #000022;
}

.description-major{
    margin:20px 20px 0 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #000022;

}

.slider-container{
        margin: 0 auto;
        overflow-x: hidden;
        width: 100%;
        
        .slider{
            display: flex;
            cursor: grab;
            // transform: translateX(80px) translateY(0px) translateZ(0px);
            align-items: center;
            justify-content: center;
            margin-bottom: 2rem;

            .item {
                margin: 0 30px 15px;

                .container-img{
                    position: relative;
                    left: 45px;
                    top: 86px;
                    height: 12rem;

                }
                .conteiner-title-description{
                    width: 300px;
                    height: 220px;
                    text-align: center;
                    margin-top: 39px;
                    background: #FFFFFF;
                    box-shadow: 0px 9px 27px rgb(0 0 0 / 10%);
                    border-radius: 20px;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    
                    .title-skills{
                        font-size: 20px;
                        font-weight: 600;
                        color: #F00004;
                        font-family: poppins;
                        line-height: 27px;
                    }

                .parrafo-skills{
                    margin: 0px 12px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: -0.02em;
                    /* Azul oscuro */
                    color: #000022;
                }
                .vector-skills{
                    position: relative;
                    left: 115px;
                    top: 28px;
                }
            }
            }    
            
        }
    
}