.slider-container{
        margin: 0 auto;
        overflow-x: hidden;
        // border: 1px solid red;
        
        width: 100%;
        
        .slider{
            display: flex;
            cursor: grab;
            // transform: translateX(80px) translateY(0px) translateZ(0px);
            align-items: center;
            justify-content: center;

            .item {
                margin: 30px;

                .container-img{
                    position: relative;
                    left: 45px;
                    top: 86px;
                    height: 12rem;

                }
                .conteiner-title-description{
                    width: 300px;
                    height: 220px;
                    text-align: center;
                    margin-top: 39px;
                    background: #FFFFFF;
                    box-shadow: 0px 9px 27px rgb(0 0 0 / 10%);
                    border-radius: 20px;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                .conteiner-title-description:nth-child(2){
                    margin-top: 60px;
                }
                .parrafo-skills{
                    margin: 0px 12px;
                }
                .parrafo-skills-medio{
                    margin-top: 60px;
                }
            }    
            
        }
    
}